@media screen {
    body {
      margin: 2em;
      color: #fff;
      background-color: #000;
      font-family: serif;
      text-align: right;
    }

  }
@media print {
    body {
      margin: 0;
      color: #000;
      background-color: #fff;
      font-family: serif;
      text-align: right;
      text-size-adjust: 12pt;
      Display: block;
    }
    article {
        column-width: 17em;
        column-gap: 3em;
    }
    table, img, svg {
       break-inside: avoid;
     }
      table{
        border:1px solid black;
        margin-left: 0%;
        margin-right: 100%;
        width: 25%;
      }
      th{
        text-align: center;
      }
    @page {
        margin: 2cm 2cm 4cm 4cm;
    }
  }
