html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.blue {
    color: #0b4dc7;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 150%;
    margin: 3% 0 1.5% 0;
}

.adjust {
    display: flex;
    flex-direction: column;
    padding: 0 16.5% 0 16.5%;
    font-family: "Open Sans";
    color: #778898;
    background: transparent;
}

.subtitle {
    font-weight: 500;
    line-height: 1.2;
    margin: 1% 0 1% 0;
    padding: 0;
    font-size: 40px;
}

img {
    max-width: 100%;
    width: 100%;
    border-radius: 3px;
    display: block;
}

p {
    font-size: 14px;
    color: #778898;
    line-height: 160%;
    margin-bottom: 10px;
}

.image ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style: none;
    font-size: 12px;
    padding: 0px 0 10px 0px;
    margin-top: 75px;
}

.image ul li:after {
    content: ">";
    margin-left: 10px;
    margin-right: 10px;
}

.image ul li:last-child::after {
    content: "";
}

.adjust a {
    color: #778898;
    text-decoration: none;
}

.adjust a:hover {
    text-decoration: underline;
}

.adjust a:active {
    color: orange;
}

footer {
    background-color: #f2f8fc;
    width: 100%;
    font-family: "Open Sans";
    font-size: 13px;
    color: #778898;
    line-height: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 0;
    margin-top: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

footer ul li {
    margin-left: 0;
}

footer ul li a {
    color: #33bafd;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul li a:active {
    color: orange;
}

.codes {
    margin-top: 10px;
}

.links {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    padding-top: 5px;
    display: inline-block;
    margin-bottom: 1%;
}

.links a {
    color: #0b4dc7;
    text-decoration: none;
    margin-right: 30px;
}

.links a:hover {
    text-decoration: underline;
}

.links a:active {
    color: orange;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 16.5%;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    width: 900px;
    padding: 0;
}

header ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 2px
}

header li button {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    color: #0b4dc7;
    line-height: 20px;
    border-color: transparent;
    background-color: white;
    margin: 0;
}

header button:hover {
    color: #269BF0;
}

header li:hover {
    border-bottom: 3px solid #269BF0;
    border-radius: 2px;
}